/* @font-face {
    font-family: "qasbyne";
    src: url("/assets/font/Qasbyne.otf");
    font-display: swap;
} */

:root {
    --white: #FAF2E7;
    --black: #000000;

    /* --qasbyne: "qasbyne"; */

    --gutter: 0.7rem;
    --column: 12;

    --ease-in-out-quart: cubic-bezier(0.77,0,0.175,1);
    --primary-transition: transform 0.5s var(--ease-in-out-quart);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    position: relative;
}

.overlay {
    opacity: 0;
    position: fixed;
    inset: 0 var(--gutter);
    background-image: 
        repeating-linear-gradient(
            to right,
            #e7a2a279,
            #e7a2a279 calc((100% / var(--column)) - var(--gutter)),
            transparent calc((100% / var(--column)) - var(--gutter)),
            transparent calc(100% / var(--column))
        );
    background-position: left top;
    background-size: calc(100% + var(--gutter)) 100%;
    z-index: -1;  /* Change to a positive value to see overlay. */
}

.overlay.active {
    opacity: 1;
}

